---
- name: Gather OS specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution | lower }}.yml"
  tags:
    - nginx-base
    - vars

- name: Include install tasks
  ansible.builtin.include_tasks: install_{{ ansible_distribution | lower }}.yml
  tags:
    - nginx-base
    - vars

- name: Make sure the nginx-sites directory exists
  ansible.builtin.file:
    path: "{{ nginx_sites_path }}"
    state: directory
    owner: root
    mode: "0755"
  tags:
    - nginx-base

- name: Install basic nginx config
  ansible.builtin.template:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
    mode: "0644"
  when: nginx_base_conf
  tags:
    - nginx-base
  notify:
    - Reload nginx
    - Verify nginxconfig

- name: Install basic nginx site config for letsencrypt/HTTPS
  ansible.builtin.template:
    src: nginx-base.conf
    dest: "{{ nginx_sites_path }}/base.conf"
    mode: "0644"
  when: nginx_base_conf
  tags:
    - nginx-base
  notify:
    - Reload nginx
    - Verify nginxconfig

- name: Create dhparams
  ansible.builtin.command: "openssl dhparam -out {{ nginx_dhparams_path }} {{ nginx_dhparams_size }}"
  args:
    creates: "{{ nginx_dhparams_path }}"
  tags:
    - nginx-base
  notify:
    - Restart nginx

- name: Install ufw rule for HTTP and HTTPS
  ansible.builtin.copy:
    src: ufw-web
    dest: "{{ nginx_ufw_path }}/custom-web"
    mode: "0644"
  notify:
    - Reload ufw
  tags:
    - nginx-base
    - ufw

- name: Ensure ufw allows web traffic
  community.general.ufw:
    rule: allow
    name: web
  tags:
    - nginx-base
    - ufw

- name: Ensure that nginx is enabled and started
  ansible.builtin.service:
    name: nginx
    enabled: true
    state: started
  tags:
    - nginx-base

- name: Run handlers at this Point
  ansible.builtin.meta: flush_handlers
  tags:
    - common
    - network
