---
- name: Verify nginxconfig
  ansible.builtin.command: nginx -t
  changed_when: false

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded

- name: Reload ufw
  community.general.ufw:
    state: reloaded
